.container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
}

.grid-square {
    width: calc(480px / var(--squares-per-side));
    height: calc(480px / var(--squares-per-side));
    border: 1px solid rgb(15, 89, 136);
    box-sizing: border-box;
}

button{
    margin: 5px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 12px;
    border: 2px solid blue;
}

button:hover {
    background-color: rgb(94, 27, 156);
   
}

.box{
    display: flex;
    justify-content: space-around;
}